#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        GID: to_layer_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N1 &kp N0 &kp N8 &kp N4 &kp N0 &kp N9 &kp N4 &kp N7 &kp N0>;
            label = "TO_LAYER_0";
        };

        mail: mail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp E &kp I &kp T &kp A &kp DOT &kp B &kp DOT &kp T &kp A &kp K &kp A &kp H &kp A &kp S &kp H &kp I &kp LEFT_BRACKET &kp S &kp O &kp N &kp Y &kp DOT &kp C &kp O &kp M>;
            label = "MAIL";
        };

        parameter: parameter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(P) &kp A &kp R &kp A &kp M &kp E &kp T &kp E &kp R &kp N8 &kp N8 &kp N4 &kp N2>;
            label = "PARAMETER";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&GID>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        tapdance_kana: tapdance_kana {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_KANA";
            #binding-cells = <0>;
            bindings = <&kp INT2>, <&kp LANGUAGE_2>, <&sl 1>;

            tapping-term-ms = <400>;
        };

        WheelScroll: WheelScroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "WHEELSCROLL";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R  &kp T                                 &kp Y  &kp U  &kp I  &kp O      &kp ENTER
&kp A      &kp S         &kp D         &kp F  &kp G      &kp TAB             &GID   &kp H  &kp J  &kp K  &kp L      &kp P
&kp LCTRL  &kp Z         &kp X         &kp C  &kp V      &kp LEFT_ALT        &mail  &kp B  &kp N  &kp M  &mkp LCLK  &mo 3
&kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &mo 3  &kp SPACE  &kp LEFT_SHIFT      &mo 1  &mo 2                           &kp RCTRL
            >;

            sensor-bindings = <&WheelScroll SCRL_UP SCRL_DOWN>;
        };

        Fn1 {
            bindings = <
&kp INT_YEN         &kp LS(INT_RO)  &kp LS(N8)    &kp LS(N9)    &kp SINGLE_QUOTE                          &kp LEFT_BRACKET  &kp BACKSPACE  &kp UP_ARROW  &kp DELETE    &trans
&kp MINUS           &kp SLASH       &kp COMMA     &kp PERIOD    &kp SEMICOLON     &trans      &parameter  &kp EQUAL         &kp LEFT       &kp DOWN      &kp RIGHT     &kp ESCAPE
&mt LCTRL NUMBER_1  &kp NUMBER_2    &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5      &trans      &kp LG(R)   &kp NUMBER_6      &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&trans              &trans          &trans        &trans        &trans            &trans      &trans      &trans                                                       &kp ESCAPE
            >;

            sensor-bindings = <&WheelScroll SCRL_LEFT SCRL_RIGHT>;
        };

        Fn2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &trans  &kp PAGE_UP      &msc SCRL_UP    &kp PAGE_DOWN   &kp F2
&kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans      &trans  &trans  &msc MOVE_Y(-5)  &msc SCRL_DOWN  &msc MOVE_Y(5)  &kp ESCAPE
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5   &trans      &trans  &kp F7  &kp GRAVE        &kp LG(R)       &trans          &trans
&trans  &trans  &trans  &trans  &trans   &trans      &trans  &trans                                                   &kp LA(LC(DELETE))
            >;
        };

        MOUSE {
            bindings = <
&trans     &trans     &kp RIGHT_BRACKET  &kp BACKSLASH     &kp LS(N7)                                  &bt BT_SEL 0  &kp LC(LS(TAB))  &kp LC(TAB)    &trans      &trans
&kp MINUS  &kp SLASH  &kp LS(N7)         &kp LS(NUMBER_2)  &kp LS(NUMBER_2)  &trans      &trans        &bt BT_SEL 1  &kp LA(LEFT)     &kp LA(RIGHT)  &kp DELETE  &trans
&trans     &trans     &trans             &trans            &trans            &trans      &bt BT_SEL 3  &bt BT_SEL 2  &kp LC(W)        &mkp MCLK      &mkp RCLK   &trans
&trans     &trans     &trans             &trans            &trans            &trans      &trans        &trans                                                    &trans
            >;
        };
    };
};
